.Players {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
}

.Player {
    display: flex;
}

.Player div {
    margin: 0.1em;
}

.PlayerForm {
    background-color: gainsboro;
    display: flex;
}